*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f6f2;
}

#logo{
  width: 14.50%;
  max-width: 150px;
  height: 90px;
  background-image: url(log.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0,0 auto;
  min-width: 90px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: absolute;
  top: 1px;
  left:1px;
}










.container{
  position: relative;
  height:80vh;
  min-height: 800px;
  width: 90vw;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 700px;
  text-decoration: none;
  background: linear-gradient(to right, #d11919, #207432, #6600c5);
  background-size: 200%;
  color: rgb(20, 20, 20);
  border: none;
  border-radius: 50px;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 25px 25px 25px rgba(14, 13, 13, 0.8);
}

@keyframes animationGradient {
to{
    background-position: 300%;
  }
}

.container .text{
position: absolute;
inset: 5px 5px 5px 5px;
background-color: white;
border-radius: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
padding-top: 20px;
transition: 0.5s ease;
font-size: clamp(18px, 4vw, 30px);
font-weight: 600;

}



#Signuph{
  font-size: clamp(16px, 2vw, 22px);
  margin-top: 10px;
}

#form{
  margin-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

#username, #password, #email, #phone{
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  inset: 0 10px;
  background:linear-gradient(to right, #ac91c5, #fcfafa, #93d49c);
  color: black;
}

.input-field::placeholder{
  color: black;
  font-size: 16px;
  padding-left: 5px;
}

.input-field:focus{
  outline: none;}





#submit{
  width: 30%;
  height: 40px;
  background: linear-gradient(to right, #193bd1, #d4d8d5, #193bd1);
  background-size: 200%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: animationGradient 2.5s linear infinite;
}


#submit-text{
  font-size: clamp(12px, 2vw, 22px);
  color: rgb(20, 20, 20);
  font-weight: 600;
}

#submit:active{
  transform: scale(1.05);
  transition: 0.5s ease;
}

#divider{
  width: 70%;
  height: 2px;
  background-color: #181717;
  margin: 20px 0;
} 




#or{
  width: 90%;
  height: 40px;
  margin-top: 15px;
  margin-left: 5%;
  background: linear-gradient(to right, #193bd1, #d4d8d5, #193bd1);
  background-size: 200%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: animationGradient 4s linear infinite;
}


#methods{
  font-size: clamp(12px, 2vw, 20px);
  color: rgb(20, 20, 20);
  font-weight: 450;
}

#or:active{
  transform: scale(1.05);
  transition: 0.5s ease;
}

#divider2{
  width: 70%;
  height: 2px;
  background-color: #181717;
  margin-top: 20px;
  margin-left: 15%;
}

#forlogin{
  width: 90%;
  height: 40px;
  margin-top: 15px;
  margin-left: 5%;
  background: linear-gradient(to right, #2fd119, #d4d8d5, #20ca1a);
  background-size: 200%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: animationGradient 4s linear infinite;
}


#forlogin-text{
  font-size: clamp(12px, 2vw, 20px);
  color: rgb(11, 73, 167);
  font-weight: 450;
  padding: 5px;
}

#forlogin:active{
  transform: scale(1.05);
  transition: 0.5s ease;
}

